body {
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-box {
  min-height: calc(100vh - 70px);
}

footer {
  height: 50px;
}

.card {
    background-color: black;
    text-align: center;
    color: white;
    min-height: 100px;
    min-width: 100px;
    max-width: 100px;
}
