body {
  background-image: url(../images/background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-box {
  min-height: calc(100vh - 70px);
}

footer {
  height: 50px;
}

